@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{ 
    --orange: #FF624C;
    --light-gray: #C3C7D2;
    --dark-gray: #7E7A8F;
    --medium-gray:#EDEFF2;
    --very-light-gray:#e5e5e5; 
    --offwhite:#F9F9F9;
    --white: #FFFFFF;
    --green: #089285;
    --blue:#7288a2;
}


body{ 
    font-family: 'Open Sans';
    margin: 0;
    padding:0;
    display:flex; 
    flex-direction:column;
  }


/*--------------header---------------*/ 
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F9F9F9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #C3C7D2;
    z-index: 5;
    
  }

  .navbar-nav {
      margin-top: .8rem;
      margin-bottom: .8rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    
    display: block;
    color: #7288a2;
    text-align: center;
    padding: 16px 0x;
    text-decoration: none;
    display: inline-flex;
    margin-right: 2.5rem;
    font-weight: 700;
    font-size: .9rem;
}

.active {
    color: #FF624D !important;
}

  .float-right {
    float: right;
    
  }

  li {
    display: inline
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: #FF624D;
  }
  
.navbar-brand img {
    display: inline-block;
    height: 2.5rem;
    margin-left: 2rem;
    margin-top: .3rem;
    
}

.logo {
    padding: 0;
    margin: 0;
    font-weight: 700;
    padding-top: .7rem;
    margin-left: .5rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-image: linear-gradient(to right, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.dropdown {
    box-sizing: border-box;

    margin-right: 3.5rem;
    font: 'Open Sans';
}

#language {
    color: #7E7A8F;
    border: 1px solid #C3C7D2;
    padding: .5rem;
    font-size: .75rem;
    border-radius: 4px;
    outline: none;
    
}

/*--------------main---------------*/ 
main{ 
    margin-top:8em;
    margin-bottom:6em;
    text-align:center;
}

p{ 
    color:var(--dark-gray);
}

.home-button{ 
    background-color: var(--orange);
    color:white;
    border:none; 
    border-radius:5px; 
    padding:7px; 
    width:15em;
    margin-top:5px;

}

.home-button:hover{
color:var(--orange); 
background-color:var(--white);
border:2px solid var(--orange);
}



/*----------------footer--------------*/
footer{ 
    background-color:var(--offwhite);
    border-top:1px solid var(--light-gray);
}

.footer-container{ 
    display:flex;
    justify-content:center;
    padding:1em;
}

.subscribe{ 
    font-size:21px;
    font-weight:400;
}

.newsletter,.subscribe{ 
    color:var(--dark-gray);
}

#newsletter-email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    background-color: var(--offwhite);
    width: 50%;
    color: var(--very-light-gray);
    letter-spacing: -0.2px;  
}

#newletter-email:hover{ 
    border:2px solid var(--orange);
}


button{ 
    background-color:var(--orange);
    border:none; 
    border-radius:5px; 
    color:var(--white);
    padding:5px; 
    width:120px;
    margin:5px;
}

button:hover{ 
    color:var(--orange); 
    background-color:var(--white);
    border:2px solid var(--orange);
}

.right-panel{ 
    margin-top:2em;
    padding-left:15px;
}

.right-panel p{ 
    text-align:right;
    color:var(--dark-gray);
}

.social-icons{ 
   
    display:flex;
    justify-content:flex-end;
}

.social-icons a{ 
    background-color:var(--orange);
    padding:10px;
    border-radius:50%;
    color:white;
    margin-right:5px;
}

.social-icons a{ 
    padding-left:15px;
    padding-right:15px;
}

.social-icons a:hover{ 
    background-color:var(--white);
    color:var(--orange);
    border:2px solid var(--orange);
}

@media(max-width:768px){ 
   
   html{ 
       height:100%;
   }

    body{ 
       min-height:100%;
   }
   
    .float-right {
        float: none; 
     }
       
     
    h2 {
        margin-top: 6rem;
    }
    
    
    .navbar-nav {
        margin-right: 0rem;
        margin-top: 0;
        padding: 0;
        margin-left: 1.5rem;
            
    }
    
    .dropdown {
         margin-left: .25rem;
    }

    
footer{ 
    margin-top:auto;

}

.footer-container{ 
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.footer-container p{ 
    font-size:12px;
}

.subscribe{ 
    font-size:20px;
}

.social-icons{ 
    justify-content:center;
}

.right-panel p{ 
    text-align:center;
}

}


@media(max-width:677px){ 

    .dropdown {
        margin-right: 0;
    }
    
    .navbar-nav {
        margin-right: 0;
        padding: 0;
    }
    
    .navbar a { 
        padding: .1rem;
        margin: .5rem;
    
    }
    
    .navbar-brand img {
        
        margin-left: .5rem;
        
    }
    
    h2 {
        margin-top: 2.5rem;
        margin-bottom: 0rem;
    }

}

@media(max-width:470px){ 

    #language {
        padding: .2rem; 
    }
        
    
    .navbar a { 
        padding: 0rem;
        margin: .15rem;
        
    }
    
    
    .navbar-nav {
        padding: 0;
        margin: .2rem;
    
    }
    
        
    h2 {
        font-size: 1.2rem;
            
    }
    } 

    
@media(max-width:400px){ 

    .navbar a { 
        padding-left: .35rem;
        font-size: .75rem;
    }
    
    .dropdown {
        font-size: .75rem;
    
    }
    
    #language {
        font-size: .75rem;
        }
}