@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*---------------color----------------*/ 
:root{ 
    --orange: #FF624C;
    --light-gray: #C3C7D2;
    --dark-gray: #7E7A8F;
    --medium-gray:#EDEFF2;
    --very-light-gray:#e5e5e5; 
    --offwhite:#F9F9F9;
    --white: #FFFFFF;
    --green: #089285;
    --blue:#7288a2;
}


body{ 
    font-family: 'Open Sans';
    margin: 0;
    padding:0;
  }
  
/*--------------header---------------*/ 
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F9F9F9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #C3C7D2;
    z-index: 5;
    
  }

  .navbar-nav {
      margin-top: .8rem;
      margin-bottom: .8rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    
    display: block;
    color: #7288a2;
    text-align: center;
    padding: 16px 0x;
    text-decoration: none;
    display: inline-flex;
    margin-right: 2.5rem;
    font-weight: 700;
    font-size: .9rem;
}

.active {
    color: #FF624D !important;
}

  .float-right {
    float: right;
    
  }

  li {
    display: inline
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: #FF624D;
  }
  
.navbar-brand img {
    display: inline-block;
    height: 2.5rem;
    margin-left: 2rem;
    margin-top: .3rem;
    
}

.logo {
    padding: 0;
    margin: 0;
    font-weight: 700;
    padding-top: .7rem;
    margin-left: .5rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-image: linear-gradient(to right, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.dropdown {
    box-sizing: border-box;

    margin-right: 3.5rem;
    font: 'Open Sans';
}

#language {
    color: #7E7A8F;
    border: 1px solid #C3C7D2;
    padding: .5rem;
    font-size: .75rem;
    border-radius: 4px;
    outline: none;
    
}
/*--------top---------------*/ 
main{ 
    margin-top:2em;
}

.top{ 
    background-color:var(--orange);
    width:100%;
   
    
}

.top h1{ 
    margin-bottom:3em;
    color:var(--white);
}

.banner{ 
    display:flex;
    padding:2em;
    justify-content:center;
    align-items:flex-end;
}

.network-credit{ 
    color:var(--white);
    float:left; /*for wrapping*/               
    margin-top:15px;
} 

.banner-left img{ 
    height:30px;
    padding:5px;

}

.networks{ 
    display:inline;
}


.banner-right img{ 
    padding-left:5em;
    max-width:200px; 
    height: auto;
    width:100%;
    margin-top:1em;
    
}

.story{ 
    max-width:640px;
    text-align:center;
    margin:0 auto;
    padding:2em;
}  

.story h1{ 
    margin-bottom:1em; 
}

.story p{ 
    color:var(--dark-gray);
}

.team-info{ 
    display:flex;
   justify-content:center;
   justify-items:center;
   padding:1em;
    
}

.team-info img{ 
    max-width:400px;
    padding-right:2em;
}

table{ 
    background-color:var(--medium-gray);
    border-radius: 77px;
    padding: 2em;/*not sure?????*/
    max-width:660px;
    max-height:600px;
}

th{ 
    padding-right:5em;
    text-align:right;
}

td{ 
    padding:10px;
}

.table-header{ 
  
    text-align:center;
    padding-bottom:1em; /*remember you have to use padding since its a table*/  
    
} 
/*----------------footer--------------*/
footer{ 
    background-color:var(--offwhite);
    border-top:1px solid var(--light-gray);
}

.footer-container{ 
    display:flex;
    justify-content:center;
    padding:1em;
}

.subscribe{ 
    font-size:21px;
    font-weight:400;
}

.newsletter,.subscribe{ 
    color:var(--dark-gray);
}

#newsletter-email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--dark-gray);
    background-color: var(--offwhite);
    width: 50%;
    color: var(--very-light-gray);
    letter-spacing: -0.2px;  
}

#newletter-email:hover{ 
    border:2px solid var(--orange);
}


button{ 
    background-color:var(--orange);
    border:none; 
    border-radius:5px; 
    color:var(--white);
    padding:5px; 
    width:120px;
    margin:5px;
}

button:hover{ 
    color:var(--orange); 
    background-color:var(--white);
    border:2px solid var(--orange);
}

.right-panel{ 
    margin-top:2em;
    padding-left:15px;
}

.right-panel p{ 
    text-align:right;
    color:var(--dark-gray);
}

.social-icons{ 
   
    display:flex;
    justify-content:flex-end;
}

.social-icons a{ 
    background-color:var(--orange);
    padding:10px;
    border-radius:50%;
    color:white;
    margin-right:5px;
}

.social-icons a{ 
    padding-left:15px;
    padding-right:15px;
}

.social-icons a:hover{ 
    background-color:var(--white);
    color:var(--orange);
    border:2px solid var(--orange);
}


/*-----------------media queries--------------*/ 
@media(max-width:1057px){ 
    body{ 
        padding-top:4em; /*added*/
    }
}

@media(max-width:768px){ 


.float-right {
    float: none; 
 }
   
 
h2 {
    margin-top: 6rem;
}


.navbar-nav {
    margin-right: 0rem;
    margin-top: 0;
    padding: 0;
    margin-left: 1.5rem;
        
}

.dropdown {
     margin-left: .25rem;
}


.network-credit{ 
    float:none;
} 

.networks{ 
    display:block; 
} 


.banner-right img{ 
    padding-left:3em;
}

.team-info{ 
    flex-direction: column;
    align-items:center;
    padding:0;
    
} 

.team-info img{ 
    padding-right:0;
    padding-bottom: 1em;
} 

th{ 
    padding:0;
    
}

footer{ 
    margin-top:1em;
}

.footer-container{ 
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.footer-container p{ 
    font-size:12px;
}

.subscribe{ 
    font-size:20px;
}

.social-icons{ 
    justify-content:center;
}

.right-panel p{ 
    text-align:center;
}

}



@media(max-width:677px){ 

body{ 
    padding-top:3em; /*added*/
}
   
.dropdown {
    margin-right: 0;
}

.navbar-nav {
    margin-right: 0;
    padding: 0;
}

.navbar a { 
    padding: .1rem;
    margin: .5rem;

}

.navbar-brand img {
    
    margin-left: .5rem;
    
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
}
    
.top h1{ 
    margin-bottom:1.5em;
    font-size: 20px;
}

.banner{ 
    flex-direction:column;
    align-items:center;
    
}

.banner-left img{ 
    height:28px;
}

.banner-right img{ 
    padding-left:2em;
    margin-top:10px;
} 

.team-info img{ 
   max-width:300px;
}

table{ 
    padding:1em;
}

.table-eader{ 
    padding-bottom:0;
}


} 

@media(max-width:470px){ 

#language {
    padding: .2rem; 
}
    

.navbar a { 
    padding: 0rem;
    margin: .15rem;
    
}


.navbar-nav {
    padding: 0;
    margin: .2rem;

}

    
h2 {
    font-size: 1.2rem;
        
}
}


@media(max-width:400px){ 

.navbar a { 
    padding-left: .35rem;
    font-size: .75rem;
}

.dropdown {
    font-size: .75rem;

}

#language {
    font-size: .75rem;
    }
    



.banner-right img{ 
    padding:0;
}
}
