@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --offwhite: #f9f9f9;
    --white: #ffffff; 
    --black: #180126;
    --gray: #7e7a8f;
    --lightgray: #cec7d2;
    --verylightgray:#e5e5e5;
    --orange: #ff624d;
    --green: #089285;
    --bluegray: #7288a2;
}

*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;   
}

html {
    height: 100%; /*added the height to eliminate the white space under the footer*/
    width: 100%;
}

body {
    min-height: 100%; /*changed from 100vh to 100% to eliminate white space under footer*/

    flex-direction: column; /*added to eliminate white space under footer*/
    margin: 0em;
    padding: 0;
    background-color: var(--white);
    position: relative; /*changed*/
    overflow-x: hidden;
    overflow-y: scroll;   
}

/* navbar */

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F9F9F9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #C3C7D2;
    z-index: 5;
  }

  .navbar-nav {
      margin-top: .8rem;
      margin-bottom: .8rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    display: block;
    color: #7288a2;
    text-align: center;
    padding: 16px 0x;
    text-decoration: none;
    display: -webkit inline-box; /*added*/
    display: -ms inline-flexbox; /*added*/
    display: inline-flex; /*added*/
    margin-right: 2.5rem;
    font-weight: 700;
    font-size: .9rem;
}

.active {
    color: #FF624D !important;
}

  .float-right {
    float: right;
  }

  li {
    display: inline;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: #FF624D;
  }

  
.navbar-brand img {
    display: inline-block;
    height: 2.5rem;
    margin-left: 2rem;
    margin-top: .3rem;
    
}

.logo {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 700;
    padding-top: .7rem;
    margin-left: .5rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-image: linear-gradient(to right, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 3.5rem;
    font: 'Open Sans';
}


#language {
    color: #7E7A8F;
    border: 1px solid #C3C7D2;
    padding: .5rem;
    font-size: .75rem;
    border-radius: 4px;
    outline: none;
    background-color: var(--white);
    
}

/* ------contact form------*/
.container { 
    font-style: normal;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 7em auto; /*changed margin sizes*/
    width: 60%; /*added*/
   
}

fieldset {
    border: none;  
    margin: 1em 0em; /*added*/
}

.main-header {
    font-size: 37px;
    color: var(black);    
    font-family: 'Open Sans', sans-serif; 
    margin-left: 10px; 
}

 input {
    width: 100%;
    height: 40px; /*decreased the height of input*/
    padding: 0em 2em; /*added padding*/
    border: 1px solid var(--verylightgray);
    border-radius: 4px;
    background-color: var(--verylightgray);
    
}

select {
    background-color: var(--verylightgray);
    box-sizing: content-box; /*added*/
}


#name-label, #email-label, #number-label, #subject-label, #message-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; /*remained the same size*/
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 0.07em;
    color: #180126;
}

#dropdown {
    width: 100%; /*sligh increase to the width to match input*/
    height: 40px; /*decreased the height*/
    padding: 0em 2em; /*added padding*/
    border: 1px solid var(--verylightgray);
    border-radius: 4px;
    color: var(--gray); 
    box-sizing: content-box; /*added*/
}

option {
    font-family: 'Open Sans', sans-serif;
}

.subheading {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    size: 13px;
    color: var(--gray);
    display: block;
    margin-top: -5px;
    letter-spacing: -0.2px;
}

textarea {
    width: 100%; /*changed width to 100%*/
    box-sizing: content-box; /*added*/
    height: 320px; /*decreased the height*/
    padding: 12px 20px;
    border: 1px solid var(--verylightgray);
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    background-color: var(--verylightgray);
}

#submit-btn {
    background-color: var(--orange);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    float: right;
    border-radius: 4px;
    position: relative;
    width: 343px;
    height: 40px; 
    border: none;
    margin-top: 0px;
    cursor: pointer; /*added*/
}

#submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}

button:hover {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}
.button:active {
    background-color: var(--white);
    color: var(--orange);
    transform: translateY(4px); 
    cursor: pointer;   
}


/*----updated footer-------- */
footer{ 
    background-color:var(--offwhite);
    border-top: 1px solid var(--verylightgray);
    font-family: 'Open Sans', sans-serif;
    margin-top: auto; /*added to eliminate the white space under footer*/
}

.footer-container{ 
    display: flex;
    justify-content: center;
    padding: 1em;
}

.subscribe{ 
    font-size: 21px;
    font-weight: 400;
}

.newsletter,.subscribe{ 
    color:var(--gray);
}

#newsletter-email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    background-color: var(--offwhite);
    width: 50%;
    color: var(--verylightgray);
    letter-spacing: -0.2px;  
}

#newletter-email:hover{ 
    border: 2px solid var(--orange);
}

button{ 
    background-color: var(--orange);
    border: none; 
    border-radius: 5px; 
    color: var(--white);
    padding: 5px; 
    width: 120px;
    margin: 5px;
    cursor: pointer; /*added*/
}

button:hover{ 
    color: var(--orange); 
    background-color: var(--white);
    border: 2px solid var(--orange);
}

.right-panel{ 
    margin-top: 2em;
    padding-left: 15px;
}

.right-panel p{ 
    text-align: right;
    color: var(--gray);
}

.social-icons{ 
   
    display:flex;
    justify-content:flex-end;
}

.social-icons a{ 
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

.social-icons a{ 
    padding-left: 15px;
    padding-right: 15px;
}

.social-icons a:hover{ 
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}



/*updated media queries*/
@media(max-width: 768px) {
    .float-right {
        float: none;
    }

    h2 {
        margin-top: 6rem;
    }

    .navbar-nav {
        margin-right: 0rem;
        margin-top: 0;
        padding: 0;
        margin-left: 1.5rem;
    }

    .dropdown {
        margin-left: .25rem;
    }
        
     .container {
        display: block;
    }   

    footer {
        margin-top: 1em;
    }
    
   .footer-container {
       flex-direction: column;
       align-items: center;
       text-align: center;
   }

   .footer-container p {
       font-size: 12px;
   }

   .subscribe {
       font-size: 20px;
   }

   .social-icons {
       justify-content: center;
   }

   .right-panel p {
    text-align: center;
}

   .navbar a:hover {
    color: #FF624D;
  }

  /*---added to make header & footer responsive----*/
    #submit-btn:hover {
        background-color: var(--white);
        color: var(--orange);
        border: 2px solid var(--orange);
    }
    
    button:hover {
        background-color: var(--white);
        color: var(--orange);
        border: 2px solid var(--orange);
    }
    .button:active {
        background-color: var(--white);
        color: var(--orange);
        transform: translateY(4px);    
    }

}

@media (max-width: 677px) {
    body {
       padding-top: 3em; /*added*/
    }

    .dropdown {
        margin-right: 0;
    }

    .navbar-nav {
        margin-right: 0;
        padding: 0;
    }

    .navbar a {
        padding: .1rem;
        margin: .5rem;
    }

    .navbar-brand img {
        margin-left: .5rem;
    }

    h2 {
        margin-top: 2.5rem;
        margin-bottom: 0rem;
    }
    
    /*remove
    .main-header {
        margin-top: -50px;
    }*/

    .container {
        width: 95%; /*changed width*/
        position: relative;
        
    }

    #name-label, #email-label, #number-label, #subject-label, #message-label {
        font-size: 16px;
    }

      
    .subheading {
        font-size: 15px;
    }

    .email-border {
        padding: 0px;
    }

    fieldset {
        margin: 1em 0em; /*added*/
    }

    #dropdown {
        width: 100%; /*added*/
    }
    textarea {
        height: 430px;
        width: 100%; /*added*/
    }

    #submit-btn {
        width: 50%;
    }

    .navbar a:hover {
        color: #FF624D;
      }

  /*---added to make header & footer responsive----*/

      #submit-btn:hover {
        background-color: var(--white);
        color: var(--orange);
        border: 2px solid var(--orange);
    }
    
    button:hover {
        background-color: var(--white);
        color: var(--orange);
        border: 2px solid var(--orange);
    }
    .button:active {
        background-color: var(--white);
        color: var(--orange);
        transform: translateY(4px);    
    }



    /*----media queries for smart phones-----*/
    @media(max-width:470px){ 
        
        #language {
            padding: .2rem; 
        }
            
        .navbar a { 
            padding: 0rem;
            margin: .15rem;
            
        }
        
        .navbar-nav {
            padding: 0;
            margin: .2rem;
            display: flex;
            justify-content: space-around;
        }
        
   
        h2 {
            font-size: 1.2rem;     
        }

        fieldset {
            margin: 1em 0em; /*added*/
        }

        textarea {
            height: 430px; /*added*/
        }

        footer {
            background-color: var(--offwhite);
            margin-top: auto;
            margin-right: -60px; /*added to make footer fit on the screen*/
        }
    
          /*---added to make header & footer responsive----*/

        .navbar a:hover {
            color: #FF624D;
          }

        
          #submit-btn:hover {
            background-color: var(--white);
            color: var(--orange);
            border: 2px solid var(--orange);
        }
        
        button:hover {
            background-color: var(--white);
            color: var(--orange);
            border: 2px solid var(--orange);
        }
        .button:active {
            background-color: var(--white);
            color: var(--orange);
            transform: translateY(4px);    
        }

    }
}
       
    @media(max-width:400px){ 

            .navbar a { 
                padding-left: .35rem;
                font-size: .75rem;
            }
            
            .dropdown {
                font-size: .75rem;
            }
            
            #language {
                font-size: .75rem;
                }

                textarea {
                    height: 430px; /*added*/
                }

                #submit-btn {
                    width: 80%;
                }


        /*---added to make header & footer responsive----*/

                .navbar a:hover {
                    color: #FF624D;
                  }
            
                  #submit-btn:hover {
                    background-color: var(--white);
                    color: var(--orange);
                    border: 2px solid var(--orange);
                }
                
                button:hover {
                    background-color: var(--white);
                    color: var(--orange);
                    border: 2px solid var(--orange);
                }

                .button:active {
                    background-color: var(--white);
                    color: var(--orange);
                    transform: translateY(4px);    
                }

            }
    