@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Open Sans';
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background: #fff;
  color: #4d5974;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100vh;
  
  /* min-height: 100vh; */
}



/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F9F9F9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #C3C7D2;
    z-index: 5;
    
  }

  .navbar-nav {
      margin-top: .8rem;
      margin-bottom: .8rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    
    display: block;
    color: #7288a2;
    text-align: center;
    padding: 16px 0x;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 2.5rem;
    font-weight: 700;
    font-size: .9rem;
}

.active {
    color: #FF624D !important;
}

  .float-right {
    float: right;
    
  }

  li {
    display: inline
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: #FF624D;
  }
  
.navbar-brand img {
    display: inline-block;
    height: 2.5rem;
    margin-left: 2rem;
    margin-top: .3rem;
    
}

.logo {
    padding: 0;
    margin: 0;
    font-weight: 700;
    padding-top: .7rem;
    margin-left: .5rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-image: -webkit-gradient(linear, left top, right top, from(#FF4C4C), color-stop(#FFA800), color-stop(#F2AA1C), to(#DE522C));
    background-image: -o-linear-gradient(left, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-image: linear-gradient(to right, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.dropdown {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    margin-right: 3.5rem;
    font: 'Open Sans';
}

#language {
    color: #7E7A8F;
    border: 1px solid #C3C7D2;
    padding: .5rem;
    font-size: .75rem;
    border-radius: 4px;
    outline: none;
    
}

  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
.container {
  margin: 0 auto;
  padding: 4rem;
  width: 80rem;
}
h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: black;
  padding: 1.3rem;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem; 
  margin-top: 3.5rem;
}

h3 {
    text-align: center;
    font-weight: 400;
    padding-bottom: 2rem;
}

h3 span {
    font-size: 1rem;
}

/* search box */

.search-box {
    padding: 1rem;
    margin-right: 6rem;
    margin-left: 6rem;    
    padding-bottom: 0;
    padding-top: 0;
    
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}
  
.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    background: #FFFFFF;
    border: 1px solid #C3C7D2    ;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    
    
}

input:placeholder-shown {
    color: #C3C7D2;
 }
  
.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -120px;
    
}
  
.search-button img {
    width: 20px;
    height: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 35%;
    cursor: pointer;
    margin-left: 80px;
    
}

/* accordian */

.accordion {
    margin-bottom: 1.5rem;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: 1px solid #C3C7D2;
  background-color: #F9F9F9;
  border-bottom: none;
}

.border {
    border-bottom: 1px solid #C3C7D2;
}



.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #FF624D !important;
}


.accordion a.active {
  color: #FF624D !important;
 
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: black;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  
  
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color:  #FF624D;
  
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  font-size: .9rem;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

/*----------------footer--------------*/
.last-section {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: .1rem;
    left: 0;
    background-color: #FFFFFF;
}
footer{ 
    background-color:#F9F9F9;
    border-top: 1px solid #e5e5e5; 
    font-family: 'Open Sans', sans-serif;
    margin-top:3em;
}

.footer-container{ 
    display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-right:2em;
}

.subscribe{ 
    font-size: 21px;
    font-weight: 400;

}

.subscribe-email{ 
    margin-top:-25px;
}

.newsletter,.subscribe{ 
    color:#7E7A8F;
}

#newsletter-email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7E7A8F;
    background-color: #F9F9F9;
    width: 50%;
    color:#e5e5e5; 
    letter-spacing: -0.2px;  
}

#newletter-email:hover{ 
    border: 2px solid #FF624C;
}

button{ 
    background-color: #FF624C;
    border: none; 
    border-radius: 5px; 
    color: #FFFFFF;
    padding: 4px; 
    margin: 5px;
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);*/
   

}

button:hover{ 
    color: #FF624C; 
    background-color: #FFFFFF;
    border: 2px solid #FF624C; 
}

.right-panel{ 
    margin-top: 2em;
    flex-basis:50%;
}

.left-panel{ 
    flex-basis:50%;
}


.right-panel { 
    text-align: right;
    color: #7E7A8F;
}



.social-icons{
    margin-bottom:30px;
 }

 .instagram,.facebook,.twitter{ 
   height:17px; 
 }

svg{ 
     color:white;
     height:17px;
     width:20px;
 }

 svg:hover{ 
     color:var(--orange);
 }

 #twitter,#instagram,#facebook{

 }

.social-icons a{ 
    background-color: #FF624C;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}

.social-icons a:hover{ 
    background-color: #FFFFFF;
    color: #FF624C;
    border: 2px solid #FF624C;
}

/* media queries */



@media only screen and (max-width: 878px) {

    .float-right {
        float: none; 
      }
    
    h2 {
        margin-top: 6rem;
    }

    .navbar-nav {
        margin-right: 0rem;
        margin-top: 0;
        padding: 0;
        margin-left: 1.5rem;
        
    }

    .dropdown {
        margin-left: .25rem;
    }
     

    
    .search-box {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    footer{ 
        margin-top:1em;
    }
    
    .footer-container{ 
        -webkit-box-orient:vertical; 
        -webkit-box-direction:normal; 
            -ms-flex-direction:column; 
                flex-direction:column;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        text-align:center;
    }
    
    .footer-container p{ 
        font-size:12px;
    }
    
    .subscribe{ 
        font-size:20px;
    }
    .subscribe-email{ 
        margin-top:0px;
    }

    .social-icons{ 
        -webkit-box-pack:center; 
            -ms-flex-pack:center; 
                text-align:center;
    }
    
    .right-panel p{ 
        text-align:center;
    }

    h5 {
        margin: 0;
    }
}

@media only screen and (max-width: 564px) {
    .search-box {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .dropdown {
        margin-right: 0;
    }

    .navbar-nav {
        margin-right: 0;
        padding: 0;
    }

    .navbar a { 
        padding: .1rem;
        margin: .5rem;

    }

    .navbar-brand img {
        
        margin-left: .5rem;
        
    }

    

    h2 {
        margin-top: 2.5rem;
        margin-bottom: 0rem;
    }

    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}
    
@media only screen and (max-width: 470px) {

    .search-box {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

    h3 {
        padding-bottom: 0;
    }

    #language {
        padding: .2rem; }
    
    .navbar a { 
        padding: 0rem;
        margin: .15rem;
    
        }

    .navbar-nav {
        padding: 0;
        margin: .2rem;

    }
    
    h2 {
        font-size: 1.2rem;
        }
    
    h3 {
        font-size: 1rem;
        }
    
    h3 span {
        font-size: .8rem;
        }

    .container {
        
        padding-bottom: 2rem;
        
    }

}

        
@media only screen and (max-width: 375px) {
    
    .navbar a { 
        padding: 0;
        padding-left: .35rem;
        font-size: .75rem;
    }

    .dropdown {
        font-size: .75rem;

    }

    #language {
        font-size: .75rem;
    }

}
    

