@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --offwhite: #f9f9f9;
    --white: #ffffff; 
    --black: #180126;
    --gray: #7e7a8f;
    --lightgray: #cec7d2;
    --verylightgray:#e5e5e5;
    --orange: #ff624d;
}





body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    margin: auto;
}

/*--------------header---------------*/ 
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #F9F9F9;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid #C3C7D2;
    z-index: 5;
    
  }

  .navbar-nav {
      margin-top: .8rem;
      margin-bottom: .8rem;
  }
  
  /* Links inside the navbar */
  .navbar a {
    
    display: block;
    color: #7288a2;
    text-align: center;
    padding: 16px 0x;
    text-decoration: none;
    display: inline-flex;
    margin-right: 2.5rem;
    font-weight: 700;
    font-size: .9rem;
}

.active {
    color: #FF624D !important;
}

  .float-right {
    float: right;
    
  }

  li {
    display: inline
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: #FF624D;
  }
  
.navbar-brand img {
    display: inline-block;
    height: 2.5rem;
    margin-left: 2rem;
    margin-top: .3rem;
    
}

.logo {
    padding: 0;
    margin: 0;
    font-weight: 700;
    padding-top: .7rem;
    margin-left: .5rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-image: linear-gradient(to right, #FF4C4C, #FFA800, #F2AA1C, #DE522C);
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
}

.dropdown {
    box-sizing: border-box;

    margin-right: 3.5rem;
    font: 'Open Sans';
}

#language {
    color: #7E7A8F;
    border: 1px solid #C3C7D2;
    padding: .5rem;
    font-size: .75rem;
    border-radius: 4px;
    outline: none;
    
}

/* Body */

#fire-fighter {
    background: url(/images/landingpage-images/main-image.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 700px;
}


#fire-fighter h1 {
padding-top: 200px;
padding-left: 100px;
color: white;;
font-weight:bold;
font-size: 37px;
line-height: 50px;
letter-spacing: 0.1em;

}

#fire-fighter p {

padding-left: 100px;
color: white;
font-size: 21px;
line-height: 35px;
letter-spacing: 0.07em;
}

.sub-heading {
    background: var(--orange);
    margin-top: -5px;
}

.water-drop {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.water-text {
    padding-top: 100px;
    color: #FFFFFF;
}

.water-text p {
    margin-top: 50px;
    font-size: 16px;
    line-height: 24px;
}

.water-drop img {
    width: 506px;
    height: 506px;
}

.bottom-text {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#bigger {
    font-size: 21px;
    line-height: 20px; 
}

#smaller {
    font-size: 15px;
    line-height: 20px; 
    margin-left: 400px;
    padding-bottom: 50px;
}

.features {
    display: flex;
    justify-content: space-evenly;
    padding:2em;
    
    
} 

.features-3{ 
   padding-left:10px; 
}

.features h3{ 
   display:inline-block;
   
}

.features i{ 
    color:white; 
    background-color:var(--orange); 
    padding:7px; 
    border-radius:50%; 
    float:left;
    margin:10px;
}

.features-text {
    text-align: center;
    font-size: larger;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: -30px;
}

.features p{ 
    margin-bottom:50px;
}

.features img{
   height:450px;
   padding:10px;
}

.app-store {
    background-color: #089285;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 1em;
}

.app-text {
    color: white;
    margin:5em;
}

.app-text h3 {
    font-size: 28px;
   
}

.app-text h4 {
    font-size: 22px;
}

.app-text p {
    margin-top:3em ;
    font-size: 18px;

}

.app-img{ 
    display:flex;
    align-items:center;  

}

.mobile-apple{ 
    margin:50px;
}


.phone-box{ 
    background-color:#2D3436;
    color:white;
    width:160px;
    border-radius:7px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-content:flex-end;
    line-height:5px;
    margin:10px;
    
} 

.box-samsung, .box-apple{ 
    margin-left:25px;
}

.box-apple img, .box-samsung img{ 
    margin-top:5px;
}

.box-apple{ 
    margin-top:45px;
}


.phone-box img{ 
    height:35px;
    padding:7px;
    margin-right:5px;
    
} 

.app-img a{ 
    text-decoration:none;
}


.bold{ 
    font-weight:bold;
}

/*---------------Footer-------------------*/

 footer{ 
    background-color:var(--offwhite);
    border-top: 1px solid var(--verylightgray);
    font-family: 'Open Sans', sans-serif;
}

.footer-container{ 
    display: flex;
    justify-content: center;
    padding: 1em;
}

.subscribe{ 
    font-size: 21px;
    font-weight: 400;
}

.newsletter,.subscribe{ 
    color:var(--gray);
}

#newsletter-email{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    background-color: var(--offwhite);
    width: 50%;
    color: var(--verylightgray);
    letter-spacing: -0.2px;  
}

#newletter-email:hover{ 
    border: 2px solid var(--orange);
}

button{ 
    background-color: var(--orange);
    border: none; 
    border-radius: 5px; 
    color: var(--white);
    padding: 5px; 
    width: 120px;
    margin: 5px;
}

button:hover{ 
    color: var(--orange); 
    background-color: var(--white);
    border: 2px solid var(--orange);
}

.right-panel{ 
    margin-top: 2em;
    padding-left: 15px;
}

.right-panel p{ 
    text-align: right;
    color: var(--gray);
}

.social-icons{ 
   
    display:flex;
    justify-content:flex-end;
}

.social-icons a{ 
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-right: 5px;
}

.social-icons a{ 
    padding-left: 15px;
    padding-right: 15px;
}

.social-icons a:hover{ 
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
}


/*-----------------media queries--------------*/ 


@media(max-width:768px){ 

.float-right {
    float: none; 
 }
   
 
h2 {
    margin-top: 6rem;
}


.navbar-nav {
    margin-right: 0rem;
    margin-top: 0;
    padding: 0;
    margin-left: 1.5rem;
        
}

.dropdown {
     margin-left: .25rem;
}



#fire-fighter {
    background-position: center;
    padding:20px;
}

.sub-heading{ 
    font-size:25px;
}

.sub-heading p{ 
    font-size:20px;
    line-height:25px;
}

.bottom-text{ 
    margin-top:20px;
}

#smaller{ 
    font-size:15px;
}

#bigger{ 
    max-width:400px;
    margin:0 auto;
    
} 

.water-drop {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.water-drop img {
    padding-left: 120px;
    width: 506px;
    height: 506px;
}

.water-text{ 
    padding-top:10px;
}

.features {
    flex-direction: column;
    align-items: center;
}

.features i{ 
    padding:12px;
}

.features img{ 
    max-height:650px;
    
}

.app-text{ 
    text-align:center;
}

.app-store {
    flex-direction: column;
    text-align: center;
}

.app-img{ 
    flex-direction:column;
}

.apple-phone, .samsung-phone{ 
    border:1px solid #089285;
}

/*.app-store img {
    width: 500px;
    height: 500px;
    padding-left: 50px;
}*/


footer{ 
    margin-top:1em;
}

.footer-container{ 
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.footer-container p{ 
    font-size:12px;
}

.subscribe{ 
    font-size:20px;
}

.social-icons{ 
    justify-content:center;
}

.right-panel p{ 
    text-align:center;
}

}

@media(max-width:678px){ 

    body{ 
        padding-top:3em; /*added*/
    }
       
    .dropdown {
        margin-right: 0;
    }
    
    .navbar-nav {
        margin-right: 0;
        padding: 0;
    }
    
    .navbar a { 
        padding: .1rem;
        margin: .5rem;
    
    }
    
    .navbar-brand img {
        
        margin-left: .5rem;
        
    }
    
    h2 {
        margin-top: 2.5rem;
        margin-bottom: 0rem;
    }    

.water-drop img {
    padding-left: 70px;
    width: 406px;
    height: 406px;
}


.app-store img {
    width: 450px;
    height: 450px;
    padding-left: 50px;
}
   
.phone-box{ 
    margin-left:150px;
}

.phone-box img{ 
    height:30px;
    width:35px;        
} 

.footer-container{ 
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.footer-container p{ 
    font-size:12px;
}

.subscribe{ 
    font-size:20px;
}

.social-icons{ 
    justify-content:center;
}

.right-panel p{ 
    text-align:center;
}


.phone-box img{ 
     height:30px;
 } 

} 

@media(max-width:674px){ 
    .phone-box img{ 
        height:30px;
        width:35px;        
    } 
}


@media(max-width:500px){ 
 
    .water-drop img {
        padding-left: 80px;
        width: 306px;
        height: 306px;
    }

    .app-store img {
        
        
        padding-left: 0px;
    }
    
    #smaller {
        text-align: center;
        margin-left: -1px;
    }

    #language {
        padding: .2rem; 
    }
        
    

    }

    @media(max-width:470px){ 

        #language {
            padding: .2rem; 
        }
            
        
        .navbar a { 
            padding: 0rem;
            margin: .15rem;
            
        }
        
        
        .navbar-nav {
            padding: 0;
            margin: .2rem;
        
        }
    }


    @media(max-width:450px) {

        .water-drop img {
            padding-left: 40px;
        }

        #fire-fighter h1 {
            text-align: center;
            position: relative;
            right: 65px;}

            #fire-fighter p {
                text-align: center;
                position: relative;
                right: 45px;}
            }



@media(max-width:400px){ 

        
.navbar a { 
    padding-left: .35rem;
    font-size: .75rem;
}

.dropdown {
    font-size: .75rem;

}

#language {
    font-size: .75rem;
    }
    
.banner-right img{ 
    padding:0;
}


#fire-fighter{ 
    padding:5px;
}

 #fire-fighter h1 {
     padding-top:100px;
    text-align: center;
    position: relative;
    width:290px;
                
}

#fire-fighter p {
    text-align: center;
    position: relative;
    right: 45px; 
}

.water-drop img {
    padding-left: 35px;
    width: 306px;
    height: 306px;
} 

.sub-heading p{ 
    padding:5px;
    font-size:16px;
    line-height:25px;
}

.features { 
    text-align:center;
}

.top{ 
    float:none;
    display:block !important;   
    
    
}

.features i { 
   float:none;
    text-align:center; 
    padding:15px;
   
}


.features-text{ 
    padding-right:0px;
}

.app-text{ 
    margin:3em;
}

.mobile-apple img, .mobile-samsung img{ 
    height:450px;
    width:250px;
}
/*
.apple-box{ 
    margin-top:15px;
}*/

 
 .phone-box{ 
    margin-left:50px;
              
}

.phone-box img{ 
    height:30px;
    width:35px;        
} 
            
           
    }