<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/about-us.css" type="text/css" />
    <link
      rel="shortcut icon"
      href="images/aboutUs-images/favicon.ico"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/539f78907e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <a class="navbar-brand" href="/">
          <!-- inline block align top left -->
          <img src="images/faq/fire_logo.png" alt="" />
          <h2 class="logo">Fire Tracker</h2>
        </a>
        <div menu-right class="float-right">
          <ul class="navbar-nav">
            <li class="dropdown">
              <select id="language" required>
                <option placeholder="Select your language">
                  Select Language
                </option>
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
                <option>Arabic</option>
                <option>Chinese</option>
              </select>
            </li>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a class="active" href="/about-us">About</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main>
      <section class="top">
        <div class="banner">
          <div class="banner-left">
            <h1>
              Receive life-saving alerts & <br />reliable Information
              <br />during a wildfire
            </h1>

            <small class="network-credit">As seen on</small>
            <div class="networks">
              <img
                class="CNBC"
                src="images/aboutUs-images/cnbc logo.svg"
                alt="CNBC logo"
              />
              <img
                src="images/aboutUs-images/NYtimes log.svg"
                alt="New York Times logo"
              />

              <img
                class="cnn"
                src="images/aboutUs-images/cnn logo.svg"
                alt="CNN logo"
              />
              <img src="images/aboutUs-images/abc logo.svg" alt="abc logo" />
            </div>
          </div>
          <div class="banner-right">
            <img
              src="images/aboutUs-images/Fire illustrations.png"
              alt="hills on fire"
            />
          </div>
        </div>
      </section>
      <section class="bottom">
        <div class="story">
          <h1>Our Story</h1>
          <p>
            Fire Tracker was born out of necessity in the time of increased
            wildfire outbreaks around the world, correlating to climate change.
            <br />
            <br />
            Researchers have found strong correlations between warm summer
            temperatures and large fire years, so there is general consensus
            that fire occurrence will increase with climate change.
            <br />
            <br />
            In 2021, Reskill decided to create a streamlined app that could
            provide vital assistance in wildfire outbreaks. With Fire Tracker,
            users will find a simple user-friendly interface to receive alerts,
            find directions to the nearest shelters, find their loved ones near
            a wildfire, as well as learn about preventative measures through our
            resources.
          </p>
        </div>
        <div class="team-info">
          <img
            src="images/aboutUs-images/Team illustration.svg"
            alt="team collaborating"
          />
          <table>
            <thead>
              <tr>
                <th class="table-header" colspan="2"><h1>Our Team</h1></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Designers</th>
                <td>
                  <% members.map((member)=>{ %> 
                    <% if(member.role.startsWith("Design")) { %> 
                      <%= member.fullName %> <br />
                      <% } %> 
                  <% })  %> 
                </td>
              </tr>
              <tr>
                <th>Front-End Developers</th>
                <td>
                  <% members.map((member)=>{ %> 
                    <% if(member.role.startsWith("Frontend")) { %> 
                      <%= member.fullName %> <br />
                      <% } %> 
                  <% })  %> 
                </td>
              </tr>
              <tr>
                <th>Back-End Developers</th>
                <td>
                  <% members.map((member)=>{ %> 
                    <% if(member.role.startsWith("Backend")) { %> 
                      <%= member.fullName %> <br />
                      <% } %> 
                  <% })  %> 
                </td>
              </tr>
              <tr>
                <th>Mobile Developers</th>
                <td>
                  <% members.map((member)=>{ %> 
                    <% if(member.role.startsWith("Mobile")) { %> 
                      <%= member.fullName %> <br />
                      <% } %> 
                  <% })  %> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-container">
        <div class="left-panel">
          <h5 class="subscribe">Subscribe</h5>

          <div class="subscribe-email">
            <form action="/subscribers" method="POST">
              <input
                name="email"
                class="email-border"
                type="text"
                id="newsletter-email"
                placeholder="Email Address"
                autocapitalize="off"
              />
              <button id="subscribe-btn" type="submit">Subscribe</button>
            </form>

            <p class="newsletter">
              I would like to receive communications about Fire Tracker app
              services.
            </p>
          </div>
        </div>
        <div class="right-panel">
          <div class="social-icons">
            <a class="facebook" href="https://www.facebook.com"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="instagram" href="http://www.instagram.com"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="twitter" href="https://www.twitter.com"
              ><i class="fab fa-twitter"></i
            ></a>
          </div>

          <div class="fire-contact">
            <p class="fire-number">
              Phone:1.800.123.4567 | Email: contact@firetracker.com
            </p>
            <p class="privacy-info">
              Privacy. Terms . &copy; Copyright 2021 Reskill
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
