<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/style.css" />

    <title>Fire Tracker</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a class="navbar-brand" href="/index">
          <!-- inline block align top left -->
          <img src="images/landingpage-images/fire-logo.png" alt="" />
          <h2 class="logo">Fire Tracker</h2>
        </a>
        <div menu-right="" class="float-right">
          <ul class="navbar-nav">
            <li class="dropdown">
              <select id="language" required="">
                <option placeholder="Select your language">
                  Select Language
                </option>
                <option>English</option>
                <option>Spanish</option>
                <option>French</option>
                <option>Arabic</option>
                <option>Chinese</option>
              </select>
            </li>
            <li>
              <a class="active" href="/index">Home</a>
            </li>
            <li>
              <a href="/about-us">About</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <% if(subscribed.length){ %>
        <h4
          style="
            background-color: #d4edda;
            border-radius: 10px;
            color: #224b1f;
            display: inline-block;
            font-weight: 400;
            padding: 5px 10px;
          "
        >
          <%= subscribed %>
        </h4>
        <% } %>
      </div>
    </header>

    <div class="container">
      <div id="fire-fighter">
        <!-- <img src="/images/landingpage-images/fire-fighter.png" alt="#"> -->
        <!-- <img> -->
        <h1>
          A vital alert system<br />
          for wildfire emergency
        </h1>
        <p>
          Receive Up-To-Date Alert & Get Yourself to Safety During a Wildfire
          Outbreak in Your Area
        </p>
      </div>

      <div class="sub-heading">
        <div class="water-drop">
          <img src="images/landingpage-images/water-drop.png" alt="#" />
          <div class="water-text">
            <h2>Don't Get Caught Off-Guard</h2>
            <h3>
              Get Accurate Information <br />
              in Times of Emergency
            </h3>
            <p>
              Fire Tracker works with states’ Office of <br />
              Emergency Management (OEM) to provide <br />
              reliable, up-to-date safety measures in <br />
              emergency situations on an easy-to-use <br />
              single app platform. You will stay ready.
            </p>
          </div>
        </div>
        <div class="bottom-text">
          <p id="bigger">
            “ Fire Tracker users have shown 60% faster response time in
            comparison to non-users”
          </p>
          <p id="smaller">-Research conducted by Reskill Studies 2020</p>
        </div>
      </div>

      <div class="features-text">
        <h3>Features</h3>
      </div>

      <div class="features">
        <div class="features-1">
          <img src="images/landingpage-images/features-1.png" alt="" />
        </div>
        <div class="features-2">
          <img src="images/landingpage-images/features-2.png" alt="" />
        </div>
        <div class="features-3">
          <img src="images/landingpage-images/features-3.png" alt="" />
        </div>
      </div>

      <div class="app-store">
        <div class="app-text">
          <h3>Your lifeline, in your palm</h3>
          <h4>Try it today</h4>
          <p>
            Check safety measures and the latest information<br />with our Fire
            Tracker mobile application.<br />Enable live fire tracking feature,
            find the nearest<br />safeshelter, request for help, find your loved
            ones<br />nearest to the wild fire, report a wildfire<br />— all
            right from your mobile device.
          </p>
        </div>
        <div class="app-img">
          <img src="/images/landingpage-images/app-store.png" alt="" />
        </div>
      </div>

      <footer>
        <div class="footer-container">
          <div class="left-panel">
            <h5 class="subscribe">Subscribe</h5>

            <div class="subscribe-email">
              <form action="/subscribers" method="POST">
                <input
                  name="email"
                  class="email-border"
                  type="text"
                  id="newsletter-email"
                  placeholder="Email Address"
                  autocapitalize="off"
                />
                <button id="subscribe-btn" type="submit">Subscribe</button>
              </form>

              <p class="newsletter">
                I would like to receive communications about Fire Tracker app
                services.
              </p>
            </div>
          </div>
          <div class="right-panel">
            <div class="social-icons">
              <a class="facebook" href="https://www.facebook.com"
                ><i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
              <a class="instagram" href="http://www.instagram.com"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
              <a class="twitter" href="https://www.twitter.com"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>

            <div class="fire-contact">
              <p class="fire-number">
                Phone:1.800.123.4567 | Email: contact@firetracker.com
              </p>
              <p class="privacy-info">
                Privacy. Terms . © Copyright 2021 Reskill
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
