@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --offwhite: #f9f9f9;
  --white: #ffffff;
  --black: #180126;
  --gray: #7e7a8f;
  --lightgray: #cec7d2;
  --verylightgray: #e5e5e5;
  --orange: #ff624d;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--offwhite);
}

.container {
  width: 90%;
  margin: auto;
}

/* Navbar */

.navbar {
  overflow: hidden;
  background-color: #f9f9f9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: 1px solid #c3c7d2;
  z-index: 5;
}

.navbar-nav {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* Links inside the navbar */
.navbar a {
  display: block;
  color: #7288a2;
  text-align: center;
  padding: 16px 0x;
  text-decoration: none;
  display: inline-flex;
  margin-right: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.active {
  color: #ff624d !important;
}

.float-right {
  float: right;
}

li {
  display: inline;
}

/* Change background on mouse-over */
.navbar a:hover {
  color: #ff624d;
}

.navbar-brand img {
  display: inline-block;
  height: 2.5rem;
  margin-left: 2rem;
  margin-top: 0.3rem;
}

.logo {
  padding: 0;
  margin: 0;
  font-weight: 700;
  padding-top: 0.7rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  background-image: linear-gradient(
    to right,
    #ff4c4c,
    #ffa800,
    #f2aa1c,
    #de522c
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.dropdown {
  box-sizing: border-box;

  margin-right: 3.5rem;
  font: "Open Sans";
}

#language {
  color: #7e7a8f;
  border: 1px solid #c3c7d2;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 4px;
  outline: none;
}

/* Body */

#fire-fighter {
  background-image: url(/images/landingpage-images/main-image.svg);
  height: 700px;
  width: 1350px;
}

#fire-fighter h1 {
  /* position: absolute;
left: 300px;
bottom: 450px; */
  padding-top: 200px;
  padding-left: 100px;
  color: white;
  font-weight: bold;
  font-size: 37px;
  line-height: 50px;
  letter-spacing: 0.1em;
}

#fire-fighter p {
  width: 313px;
  padding-left: 100px;
  color: white;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 0.07em;
}

.sub-heading {
  background: var(--orange);
  margin-top: -5px;
}

.water-drop {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.water-text {
  padding-top: 100px;
  color: #ffffff;
}

.water-text p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 24px;
}

.water-drop img {
  /* position: relative; */
  width: 506px;
  height: 506px;
  /* left: 200px;
    top: 30px; */
}

.bottom-text {
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

#bigger {
  font-size: 21px;
  line-height: 20px;
}

#smaller {
  font-size: 10px;
  line-height: 20px;
  margin-left: 400px;
  padding-bottom: 50px;
}

.features {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.features-text {
  text-align: center;
  font-size: larger;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: -30px;
}

.features img {
  height: 700px;
  padding: 0px 30px;
}

.app-store {
  background-color: #089285;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
}

.app-text {
  color: white;
}

.app-text h3 {
  font-size: 28px;
  padding-top: 120px;
}

.app-text h4 {
  font-size: 22px;
}

.app-text p {
  padding-top: 80px;
  font-size: 18px;
}

.app-img img {
  padding-right: 50px;
}

/*----------------footer--------------*/

footer {
  background-color: var(--offwhite);
  border-top: 1px solid var(--light-gray);
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.subscribe {
  font-size: 21px;
  font-weight: 400;
}

.newsletter,
.subscribe {
  color: var(--dark-gray);
}

#newsletter-email {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--dark-gray);
  background-color: var(--offwhite);
  width: 50%;
  color: var(--very-light-gray);
  letter-spacing: -0.2px;
}

#newletter-email:hover {
  border: 2px solid var(--orange);
}

button {
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  color: var(--white);
  padding: 5px;
  width: 120px;
  margin: 5px;
}

button:hover {
  color: var(--orange);
  background-color: var(--white);
  border: 2px solid var(--orange);
}

.right-panel {
  margin-top: 2em;
  padding-left: 15px;
}

.right-panel p {
  text-align: right;
  color: var(--dark-gray);
}

.social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  background-color: var(--orange);
  padding: 10px;
  border-radius: 50%;
  color: white;
  margin-right: 5px;
}

.social-icons a {
  padding-left: 15px;
  padding-right: 15px;
}

.social-icons a:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 2px solid var(--orange);
}

/*-----------------media queries--------------*/

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  #fire-fighter {
    background-position: center;
    width: 100%;
  }

  .water-drop {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .water-drop img {
    padding-left: 70px;
    width: 506px;
    height: 506px;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .app-store {
    flex-direction: column;
    text-align: center;
  }

  .app-store img {
    width: 500px;
    height: 500px;
    padding-left: 50px;
  }

  .navbar a {
    margin: 0;
  }

  .dropdown {
    margin-right: 0.5rem;
  }

  .network-credit {
    float: none;
  }

  .networks {
    display: block;
  }

  .team-info {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .team-info img {
    padding-bottom: 1em;
  }
}

@media (max-width: 678px) {
  .water-drop img {
    padding-left: 70px;
    width: 406px;
    height: 406px;
  }

  .app-store img {
    width: 450px;
    height: 450px;
    padding-left: 50px;
  }

  .dropdown {
    margin-right: 0;
  }

  .navbar-nav {
    margin-right: 0;
    padding: 0;
  }

  .navbar a {
    padding: 0.3rem;
  }

  .navbar-brand img {
    margin-left: 0.5rem;
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 0rem;
  }

  .top h1 {
    margin-bottom: 1.5em;
    font-size: 20px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
  }

  .banner-left img {
    height: 28px;
  }

  .banner-right img {
    max-width: 160px;
    padding-left: 2em;
    margin-top: 10px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container p {
    font-size: 12px;
  }

  .subscribe {
    font-size: 20px;
  }

  .social-icons {
    justify-content: center;
  }

  .right-panel p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .water-drop img {
    padding-left: 20px;
    width: 306px;
    height: 306px;
  }

  .app-store img {
    width: 250px;
    height: 250px;
    padding-left: 40px;
  }

  #smaller {
    text-align: center;
    margin-left: -1px;
  }

  #language {
    padding: 0.2rem;
  }

  .navbar a {
    padding: 0rem;
    margin: 0.15rem;
  }

  .navbar-nav {
    padding: 0;
    margin: 0.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}
